* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 60px;
    color: rgb(219, 168, 72)
}

img {
    height: 175px;
    width: 350px;
    object-fit: cover;
}

body {
    color: rgb(231, 109, 109);
}